<td><%= select :dismissal, :type, [["Not Out",0],["Caught",1],["Run Out",2],["Stump",3]], :selected => 0   %></td>
<td><%= select :dismissal, :bowler_id, Player.find_all_by_team_id(@dismissal.batting_performance.inning.bowling_team_id).collect{ | p | [p.name, p.id ] }, :prompt => "Please Select" %></td>
<td><%= select :dismissal, :bowler_id, Player.find_all_by_team_id(@dismissal.batting_performance.inning.bowling_team_id).collect{ | p | [p.name, p.id ] }, :prompt => "Please Select"%></td>
