<div id='main_marketing_message'>

<div id='main_marketing_message_a'>
	<span id='big_text'>Build a portal for your cricket club, team or cricket league today.</span>
	<span id='big_text'></span>
<hr>
<span id='medium_text'>Cricvibe provides easy do-it-yourself tournaments, players, schedule and statistics management tools. Cricvibe is a leading provider of club websites & tournaments. </span>
<div class='call_to_action_marketing_button'>
	<a href="/demo">Try the Demo</a>
</div>
</div>
<div id='main_marketing_message_b'>
	<img src="/images/home.png" alt="Home Image" />
</div>
</div>

